:root {
  --box-transition-delay: 0.2s;
  --box-transition-function: linear;
}
.grid-board {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
}
.box {
  padding: 1px;
  display: flex;
  width: 25px;
  height: 25px;
  border: 0.001em solid #57dbff;
  -webkit-transition: background-color var(--box-transition-delay)
    var(--box-transition-function);
  -moz-transition: background-color var(--box-transition-delay)
    var(--box-transition-function);
  -o-transition: background-color var(--box-transition-delay)
    var(--box-transition-function);
  transition: background-color var(--box-transition-delay)
    var(--box-transition-function);
  border-right: none;
  border-bottom: none;
}
.box:last-child {
  border-right: 0.001em solid #57dbff;
}
.row:last-child {
  .box {
    border-bottom: 0.001em solid #57dbff;
  }
  .wall {
    border-bottom: 0.001em solid #ff80f2;
  }
}
.board-body {
  width: 100%;
}

.box.wall {
  background: #ff80f2;
  background-image: url(../image/wall.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  // background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(16,255,100,1) 100%);
}
.box.start-point {
  background-color: orange;
  background-image: url(../image/start.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}
.box.end-point {
  background-color: springgreen;
  background-image: url(../image/end.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}
.box.hover {
  background-color: #57dbff;
}
.box.wall.hover {
  background-color: #80b3ff;
}
.box.visited {
  background: rgb(63, 94, 251);
  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgb(75, 202, 224);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(50, 217, 17, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(180, 238, 23, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgb(40, 247, 219);
  }
}
.box.path {
  background-color: yellow;
  background-image: url(../image/path.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}
