  :root {
    --box-transition-delay: 0.2s;
    --box-transition-function: linear;
  }
  .grid-board {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .row {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .box {
    padding: 1px;
    display: flex;
    width: 25px;
    height: 25px;
    border: 0.001em solid #57dbff;
    -webkit-transition: background-color var(--box-transition-delay) var(--box-transition-function);
    -moz-transition: background-color var(--box-transition-delay)  var(--box-transition-function);
    -o-transition: background-color var(--box-transition-delay)  var(--box-transition-function);
    transition: background-color var(--box-transition-delay)  var(--box-transition-function);
    border-right: none;
    border-bottom: none;
  }
  .box:last-child {
    border-right: 0.001em solid #57dbff;
  }
  .row:last-child {
    .box{
      border-bottom: 0.001em solid #57dbff;
    }
    .wall {
      border-bottom: 0.001em solid #ff80f2;
    }
  }
  .board-body{
    width: 100%;
  }
  
  .box.wall {
    background: #ff80f2;
    // background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(16,255,100,1) 100%);
  }
  .box.start-point {
    background: red;
  }
  .box.end-point {
    background: yellow;
  }
  .box.hover {
    background-color: #57dbff;
  }
  .box.wall.hover {
    background-color: #80B3FF;
  }